* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    z-index: 10;
    height: 6vh;
    padding: 0 3vw;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 400;
}

li {
    text-transform: capitalize;
    list-style: none;
}

a, button {
    color: white;
    text-decoration: none;
}

button {
    all: unset;
}


/*---------head_logo----------*/
.head_logo {
    display: flex;
    align-items: center;
}

.head_logo > a > img {
    height: 2rem;
}

/*---------*_nav----------*/
.center_nav,
.right_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_nav > ul,
.right_nav > ul{
    display: flex;
}

.center_nav > ul > li > a,
.right_nav > ul > li > a,
.right_nav > ul > li > button {
    padding: 0.5rem 1rem;
}

.center_nav > ul > li > a:hover,
.right_nav > ul > li > a:hover,
.right_nav > ul > li > button:hover  {
    transition: all 0.5s;
    background-color: var(--hover-background); 
    border-radius: 0.4rem;
    cursor: pointer;
}
