
.sidebar {
    position: fixed;
    right: 0;
    text-underline-position: 0;
    height: 100vh;
    width: 20vw;
    background-color: white;
    filter: blur(0px);
    z-index: 10;
}

.sidebar {
    padding: 2vh 1vw;
}

.sidebar > button {
    width: 100%;
    text-align: right;
    font-size: large;
}

.list {
    margin-top: 5vh;
}

.list > li {
    height: 7vh;
    font-weight: bolder;
    margin: 1vh 0;
}
