.sidebar {
    position: fixed;
    right: 0;
    height: 100vh;
    width: max(20vw, 200px);
    background-color: white;
    padding: 2vh 1vw;
    z-index: 200;
    color: black;
}

.sidebar > button {
    position: absolute;
    right: 0;
    padding: 0.5vh 1.5vw;
    font-size: large;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
}

.list {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.list > li {
    font-weight: bolder;
    margin: 1vh 0;
    padding: 1vh 2vh;
    cursor: pointer;
}

.list > li:hover,
.sidebar > button:hover {
    background-color: var(--hover-background);
}
