:root {
  --hover-background: rgba(143, 143, 143, 0.3);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen" "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  color: whitesmoke;
  overflow-x: hidden;
  -webkit-scrollbar {display:none;}

}

::-webkit-scrollbar {
  display: none;
}