.imageSlider-container {
    background-color: black;
    padding-top: 10vh;
}

.imageSlider-top {
    height: 60vh;
    width: 100vw;
}

.imageSlider-images {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageSlider-image_div {
    height: 100%;
    width: max(820px, 90%);
    background-position: center;
    background-size: cover;
    transition-duration: 0.3s;
    /* transition: all ease-in-out 0.5s; */
    /* transition: ease 0.3s; */
}

.imageSlider-bottom {
    display: flex;
    padding-top: 2vh;
    gap: 1vh;
    flex-direction: column;
    
    width: 40%;
    height: 30vh;
    margin: auto;
}

.imageSlider-title > h2 {
    font-weight: lighter;
}

.imageSlider-description > p {
    padding-top: 1vh;
    line-height: 3vh;
}

.imageSlider-buttons {
    display: none;
    width: 3%;
}

.imageSlider-images:hover
.imageSlider-buttons {
    display: block;
    cursor: pointer;
}

.imageSlider-slide {
    display: flex;
}

.imageSlider-dots {
    cursor: pointer;
    color: rgb(92, 92, 92);
}

.dotActive {
    color: rgb(255, 255, 255);
    transition-duration: 1s;
}